apiVersion: v1
kind: Service
metadata:
  name: ims-api
  namespace: essp
  labels:
    app: ims-api
    app.kubernetes.io/name: ims-api
    app.kubernetes.io/component: api
    app.kubernetes.io/part-of: essp-platform
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: ims-api
  sessionAffinity: None
